html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: .8rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hove  r {
    background: #555;
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 1px;
    width: 90%;
}
.container {
    width: 70%;
    margin: auto;
    height: 95vh;
    overflow: auto;
}

.profile-banner {
    width: 15%;
    position: fixed;
    height: 95vh;
    background-color: rgb(125, 124, 124);
}

.banner-header {  
    height: 25%;
    padding-top: 5px;
    text-align: center;
    background-color: rgb(143, 143, 143);
}

.banner-header h4 {
    width: 70%;
    margin: auto;
}

.banner-information {
    height: 75%;
    margin-top: auto;
    margin-bottom: 0;
}

.basic-information-table {
    width: 100%;
    padding: 7%;
}

.basic-information-table th {
    text-align: left;
    font-size: .7rem;
}

.basic-information-table tr {
    text-align: right;
    font-size: .7rem;
}

.information {
    height: 80%;
}

.language-information {
    padding: 2%;    
}

.language-information h4 {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.skills-information {    
    font-size: .7rem;
    padding: 0 5%;
}

.download-cv {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cv a {
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color: lightblue;
    border-radius: 15px;
    text-decoration:none
}

.social-media {
    background-color: black;
    height: 5%;
    margin-bottom: 0px;
}

.profile-image {
    width: 30%;
    border-radius: 50%;
    aspect-ratio : 1 / 1;
    margin: 10px auto;
    display:block;
    margin-left: auto;
}

.main-content {
    width: 74.5%;
    margin-left: auto;
    margin-right: 0;
    background-color: lightgray;
    height: 900rem;
    padding: 25px;
}

.main-content-header {
    height: 250px;
    background-color: pink;
    text-align: center;
}

.main-content-statistics {
    margin-top: 20px;
    height: 50px;
    background-color: pink;
    text-align: center;
    display: flex;
    justify-content: center;
}

.statistic-panel {
    margin: auto 50px;
}

.main-content-projects {
    margin-top: 20px;
    background-color: pink;
}

.main-content-projects h3 {
    padding-top: 5px;
    text-align: center;
}

.main-content-project-row {
    display: flex;
}

.project-card {
    width: 30%;
    background-color: gray;
    margin: 10px;
    height: 150px;
    padding: 25px;
    text-align: center;
    align-items: center;
}

.see-more-card {
    width: 30%;
    background-color: gray;
    margin: 10px;
    height: 150px;
    padding: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.project-card p {
    font-size: .7rem;
}

.main-content-history {
    margin-top: 20px;
    background-color: pink;
    display: flex;
}

.main-content-education {
    text-align: center;
    width: 50%;
}

.main-content-experience {
    text-align: center;
    width: 50%;
}

.timeline {
    margin: 0 auto;
    max-width: 50;
    color: black;
    grid-template-columns: 1fr 3px;
    display: grid;
}

.timeline-component {
    margin: 0 10px 10px 10px;
}

.timeline-bar {
    position: relative;
    background-color: yellow;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
.timeline-component-bg {
    padding: 1.5em;
    background: rgb(123, 123, 123);
    box-shadow: 0 0 5px black;
    border-radius: 3px;
}

.timeline-header {
    width: 100%;
}
.timeline-header th{
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
}

.timeline-header td{
    font-size: 0.7em;
    text-align: right;
}

.timeline-subtitle {
    font-size: 0.7em;
    font-weight: lighter;
    text-align: left;
    font-style: italic;
}

.timeline-date {
    background-color: darkgray;
    width: 100%;
    padding: 2px 5px 2px 5px;
    border-radius: 25px;
}

.timeline-paragraph {
    line-height: 1.15;
    font-size: 0.7em;
    text-align: left;
    margin: 0px;
}