html {
    scroll-behavior: smooth;
}

body {
    background-color: #3d405c;
}

.container {
    width: 90%;
    margin-left: auto;
}

.navbar{
    width: 5%;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50px;
    background-color: #2e3047;
}

.navbar-item {
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 25px;
    border-radius: 5px;
}

.primary-container {
    display: flex;
}

.nav-list{
    padding-left: 30px;
}

#home, #projects, #certifications, #experience {
    height: 100vh;
}

#card-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.rounded{
    border-top: 2px solid rgb(70, 73, 96);
    border-radius: 5px;
}

h2 {
    text-align: center;
}

#github-btn{
    width: 150px;
    height: 25px;
    background-color: #1f2135;
    border: solid 1px black;
    padding: 25px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
}
#projects-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}
.card {
    height: 60vh;
    width: 30vw;
    margin: 50px;
    background-color: #1f2135;
    border: solid 1px black;
    border-radius: 25px;
}

.card-images{
    height: 45%;
}

.card-img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}
.card-txt{
    text-align: center;
    padding: 10px;
    height: 45%;
}